.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0;
    border-radius: 5px;
    background-color: #fafafa;
    padding: 1em;
}
.title span{
    margin-left: .5em;
    font-size: 1.5em;
}